body{
	font-family: Corbel, Arial, sans-serif;
	margin: 0;
}
a{
	color: #000000;
	text-decoration: none;
}
#header{
	background-color: #663300;
	text-align: center;
}
#header-home{
	margin: 0;
	padding: 0;
	padding-left: 3%;
	color: white;
	background-color: #331a00;
	font-size: 30px;
}
#nav{
	background-color: #4d2600;
	text-align: center;
	list-style-type: none;
}
#nav li{
	display: inline-block;
	padding: 6px 8px 6px 8px;
	font-size: 20px;
}
#nav li a{
	color: #ffffff;
	font-size: 20px;
}
#nav li:hover{
	background-color: #994d00;
}
#image-dante{
	padding-top: 10px;
	padding-left: 3%;
}
#title-news{
	text-align: center;
	font-weight: bold;
	color: red;
	padding: 20px;
	border: #4d2600 dotted 5px;
}
.news{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 20px;
}
.button {
	font-size: 20px;
	font-family: fantasy;
	background-color: #a2c3c3;
    color: black;
	cursor: pointer;
	text-align: center;
	margin:4px 2px;
	border: solid 2px;
	text-decoration: none;
	display: inline-block;
	width: 250px;
}
.button:hover{
	background-color: #eff5f5;
}
.p-stile{
	text-align: center;
	width: 600px;
	height: 300px;
}